body {
    background-color:rgba(120, 180, 222, 0,67);
}
h1 {
    font-size:350%;
    font-family:'Courier New';
    text-align:center;
}
h2 {
    font-family:'Lucida Sans';
    text-align:center;
    
}